header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > span {
  font-size: 32px;
  font-weight: 600;
}

header button {
  background-color: #00ACED;
  border-radius: 8px;
  color: #fff;
  font-size: 24px;
  padding: 5px 30px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  border: none;
  
}

header button:hover {
  background-color: #4cc7f4;
  
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}