.alert {
  padding: 15px 100px;
  position: fixed;
  bottom: -20px;
  right: 50px;
  border-radius: 8px;
  font-weight: 600;
  display: hidden;
  opacity: 0;
}

.alert.active {
  display: block;
  transition: 0.3s;
  opacity: 1;
  bottom: 20px;
}

.alert.success {
  background-color: rgb(223, 255, 210);
  color: rgb(49, 176, 42);
}

.alert.danger {
  background-color: rgb(255, 210, 210);
  color: rgb(176, 42, 42);
}