.ticketCard {
  width: 250px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 15px 30px 15px;
  border-radius: 8px;
  background-color: #fff;
}

.ticketCard > img {
  width: 100%;
  margin-top: 10px;
}

.ticketCard .content {
  margin-top: 15px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ticketCard .content .row-1 {
  display: flex;
  justify-content: space-between;
}

.ticketCard .content .row-1 > span {
  padding: 5px 10px;
  background-color:#00ACED;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
}

.ticketCard .content .pair {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #888;
}

.ticketCard .content .destination {
  font-weight: 700;
  color: #0078a3;
}

.cardIcon {
  width: 14px;
  height: 14px;
}

.control {
  margin-top: 15px;
  display: flex;
  width: 100%;
}

.control button {
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.editBtn {
  background-color: #57d7fd;
  margin-right: 3px;
}
.editBtn:hover {
  background-color: #b6edfe;
  color: #888;
}

.deleteBtn {
  background-color: #ff6363;
  margin-left: 3px;
}
.deleteBtn:hover {
  background-color: #ffbaba;
  color: #888;
}